# Игнорировать все файлы pycache
__pycache__/

# Игнорировать файлы .pyc
*.pyc

# Игнорировать файлы pytest cache
.pytest_cache/

# Игнорировать виртуальное окружение
venv/

# Игнорировать файлы логов
*.log

# Игнорировать файлы отчётов о покрытии кода
.coverage

# Игнорировать временные файлы
*.tmp

# Игнорировать директорию проекта IntelliJ IDEA
.idea/

# Игнорировать файлы .iml
*.iml
